# nto network config file v1.2
version v1.2

[global]
hostname MSCRENOGNS
domain fortna.net
route 172.19.46.1 0.0.0.0 0.0.0.0
lookup file bind

[wm0]
type ethernet
mode manual
manual_ip 172.19.46.61
manual_netmask 255.255.255.0

[wm1]
type ethernet
mode manual
disabled
manual_netmask 255.0.0.0

